@import "~@angular/material/core/theming/_theming";
@import "../../../styles";

:host {
  display: flex;
  background: white;
  padding: 10px;
  box-sizing: border-box;

  > article {
    flex: 1 1 100%;
  }

  .checkbox {
    flex-shrink: 0;
  }

  .textbox {
    flex: 1 1 auto;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
  }

}

.is-checked {
  color: #777;
  text-decoration: line-through;
}

