<section>
  <h2>Listas de compras!</h2>

  <section class="lists">
    <span *ngIf="!lists || !lists?.length">No hay ninguna lista</span>
    <app-list *ngFor="let list of lists"
      [list]="list"
      (delete)="deleteList(list)"
      routerLink="list/{{list.id}}">
    </app-list>
  </section>

  <section class="add-list">
    <h3>Crear nueva lista</h3>

    <form (ngSubmit)="createList(tempList)" #listForm="ngForm">
      <md-input
        placeholder="Name"
        name="name"
        [(ngModel)]="tempList.title"
        required>
      </md-input>

      <input type="date" name="dueDate"
        [(ngModel)]="tempList.dueDate" required>

      <button type="submit"
        md-raised-button
        color="primary"
        [disabled]="!listForm.form.valid">
          Crear lista
      </button>
    </form>
  </section>
</section>